@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Ruge+Boogie&family=Sixtyfour+Convergence&display=swap');

:root {
    --primary-color: #bc6c25;
    --secondary-color: #F5E3C3;
    --hover-color: rgb(245, 133, 133);
    --section-color: #6F4E37;
    --section2-color: #3E2723;
    --arkaplan-color: #FFF8E7;

}

* {
    font-family: "Plus Jakarta Sans", serif;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

.navbar {
    position: fixed;
    z-index: 333;
    /* border: 2px solid red; */
    width: 100%;
}

.navbar .container {
    background-color: rgba(245, 133, 133, 0.87);
    text-transform: capitalize;
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: var(--section-color) !important;
}

/* -------------------------------------------------------------------------- */
/*                                  CAROUSEL                                  */
/* -------------------------------------------------------------------------- */
.carousel-item {
    height: 100vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption .btn {
    background-color: var(--hover-color);
    border: none;
    width: 10rem;
    font-weight: bold;
    white-space: nowrap;
    color: white;
}

.carousel-caption .btn:first-child {
    background-color: transparent;
}

.carousel-caption .btn:first-child:hover {
    background-color: var(--primary-color);
}

.carousel-caption {
    bottom: 40%;
}

.hero {
    position: relative;
    z-index: 3;
}

.black {
    background-color: #6f4e37e9;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.carousel-indicators {
    gap: 0.7rem;

}

.carousel-indicators button {
    background-color: var(--section2-color) !important;
    padding: 0.2rem !important;
    width: 3rem !important;
}

/* -------------------------------------------------------------------------- */
/*                                    ABOUT                                   */
/* -------------------------------------------------------------------------- */

section#about {
    background-color: var(--section-color);

    color: rgb(191, 191, 191);
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
}

.about-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(23, 108, 131, 0.388), rgba(188, 93, 4, 0.639))
}

section#about .btn {
    background-color: var(--hover-color);
}

section#about {
    color: var(--secondary-color);
}

/* -------------------------------------------------------------------------- */
/*                                 MEET PEOPLE                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

section#people {
    background-color: #bc6c25;
    /* height: 700px; */
    background-color: var(--secondary-color);
    padding: 2rem 1rem;

}

section#people .container {
    background-color: var(--section-color);
    padding: 2rem 1rem;
    margin-top: 2rem;

}

section#people .card {
    background-color: var(--secondary-color);
    transition: all 0.5s;
    overflow: hidden;
    /* margin-bottom: 1rem; */
}

section#people .card:hover {
    transform: scale(1.05);
}

section#people .card img {
    transition: all 0.5s;
}

section#people .card img:hover {
    transform: scale(1.03);
}

section#people .card i {
    transition: all 0.3s;
}

section#people .card i:hover {
    opacity: 0.5;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------- OUR MENU -------------------------------- */

section#menu {
    background-color: var(--section-color);
    color: var(--hover-color);
}

section#menu .container {
    background-color: rgba(229, 118, 118, 0.89);
    /* border-radius: 30px; */
    padding: 1.2rem 1.5rem;
    color: wheat;
}

section#menu h2 {
    margin-bottom: 2.4rem;
}

section#menu button {
    background-color: var(--section-color);
    margin-right: 0.5rem;
}

.img-thumbnail {
    border:0.3rem solid var(--section-color) !important;
}

/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */

section#contact {
    /* height: 700px; */
    background: linear-gradient(to bottom, #6f4e37 5%, rgba(229, 118, 118, 0.628) 60%, #6F4E37),
        url(../img/slider1.jpg)
}
section#contact .contact-header{
    margin-top: -2rem !important;
    margin-bottom: 1rem !important;
}


section#contact input,
section#color textarea {
    background-color: inherit !important;
}

section#contact input:focus,
section#color textarea:focus {
    background-color: var(--section-color) !important;
    color: var(--hover-color);
}

input::placeholder {
    color: wheat !important;
}

section#contact label {
    color: var(--hover-color) !important;
}

.comments {
    resize: none;
    height: 100px !important;

}

.google-map {
    filter: blur(0.09rem) grayscale(80%);
    border-radius: 1.5rem;
}

.google-map:hover {
    filter: none;
}

/* --------------------------------- footer --------------------------------- */

footer{
    background-color: #6F4E37;
    color: rgb(254, 152, 152);
}